#maven build dir
target

#Eclipse config files
.classpath
.settings
.project

#Idea config files that we do not want to keep in git
*/.idea/workspace.xml
*/.idea/libraries/*

#Gedit temp files (nevermind ;-))
*~
